body{
  background-color: rgb(199, 200, 204);
}

.navbar{
  display: flex;
  justify-content: center;
  align-content: top; 
  padding: 1.7rem;
  box-shadow: 0 0 10px  rgba(124, 42, 218, 0.74);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-brand-text{
  color: rgb(79, 69, 187);
  transition: color 0.3s ease;
}

.nav-brand:hover .nav-brand-text {
  color: rgb(200, 172, 214);
}

.nav-link {
  color: rgb(67, 61, 139) !important;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color:rgb(67, 61, 139)  !important;
}

.nav-link::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: rgb(196, 160, 214);
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav{
  outline-color: #8e7fe6;
}

.cards{
  margin-top: 150px;
}

.contact{
  margin-top: 200px;
}

.submit{
  background-color: rgba(26, 7, 134, 0.74);
  width: 100px;
  position: absolute;
  z-index: 20;
  transition: all 0.5s ease;
}

.submit:hover {
  display: block;
  filter: drop-shadow(0 0 10px #8e7fe6);
  transform: rotate(10deg) skew(-5deg, -10deg);
}