/* HeroSection.css */

.hero-section {
  background: url(https://i.pinimg.com/564x/a3/7b/2a/a37b2a39d0a8006d3506d0d0c80fa903.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 100px 0;
  color: #000000;
}

.hero-content {
  margin-bottom: 20px;
}

.hero-content h1 {
  font-size: 2.5em;
  margin: 0; /* Remove default margin */
}

.hero-buttons .shop-now {
  background-color: #060707;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 5px; /* Optional: Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.hero-buttons .shop-now:hover {
  background-color: #333; /* Darker shade on hover */
}

.brand-logos {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add margin to separate from other content */
}

.brand-logos span {
  margin: 0 10px;
  font-size: 1.2em;
}
